<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT event ANY>
<!ATTLIST event id ID #REQUIRED>
<!ELEMENT speaker ANY>
<!ATTLIST speaker id ID #REQUIRED>
<!ELEMENT speakerList ANY>
<!ATTLIST speakerList id ID #REQUIRED>
<!ELEMENT eventList ANY>
<!ATTLIST eventList id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT homeControls ANY>
<!ATTLIST homeControls id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="7749df6e-cd6f-4ab7-917c-2de0b30963d2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-18T14:00:37" updateDate="2018-01-19T23:56:12" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1060" creatorName="setup@codeshare.co.uk" writerName="setup@codeshare.co.uk" writerID="0" template="0" nodeTypeAlias="home" isPublished="true">
    <address><![CDATA[34a Stoney Street,
Nottingham,
NG1 1NB]]></address>
    <nextEventTime><![CDATA[dfsfs]]></nextEventTime>
    <nextEventTitle><![CDATA[sadas]]></nextEventTitle>
    <sponsors><![CDATA[[{"key":"8d710e69-42d5-4aad-a78b-a0a9aaa31dcf","name":"Item 1","ncContentTypeAlias":"sponsorItem","sponsorName":"jh","image":"umb://media/a79081f16a58437da22c4644e2beac65","sponsorUrl":"https://www.wearejh.com/"},{"key":"abb81b52-2414-4290-be67-1189650691ea","name":"Item 2","ncContentTypeAlias":"sponsorItem","sponsorName":"rebel","image":"umb://media/d088b80bc6874f5e9082a4983a0bc898","sponsorUrl":"http://rebelrecruitment.co.uk/"},{"key":"75259994-50f5-4575-a984-ecb374527b71","name":"Item 3","ncContentTypeAlias":"sponsorItem","sponsorName":"mozilla","image":"umb://media/334d122fda5841a68d61d261c1852b8f","sponsorUrl":"https://www.mozilla.org/"}]]]></sponsors>
    <eventList id="1073" key="6f5f1dd5-a8bc-4743-a4ba-b34a91079db6" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2018-01-19T23:40:26" updateDate="2018-01-19T23:40:26" nodeName="Events" urlName="events" path="-1,1064,1073" isDoc="" nodeType="1072" creatorName="setup@codeshare.co.uk" writerName="setup@codeshare.co.uk" writerID="0" template="0" nodeTypeAlias="eventList" isPublished="true">
      <event id="1075" key="9e293e9a-f749-42e7-af02-053ad2b708d4" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2018-01-19T23:45:20" updateDate="2018-01-19T23:48:50" nodeName="Node JS in the AWS Cloud" urlName="node-js-in-the-aws-cloud" path="-1,1064,1073,1075" isDoc="" nodeType="1068" creatorName="setup@codeshare.co.uk" writerName="setup@codeshare.co.uk" writerID="0" template="0" nodeTypeAlias="event" isPublished="true">
        <meetupUrl><![CDATA[https://www.meetup.com/NottsJS/events/242384014]]></meetupUrl>
        <meetingContent><![CDATA[<p class="flow-text"><em>Due to unforeseeable problems, we have had to cancel the Amazon Alexa talk by David Low, and are replacing it with another talk about Node JS in the Cloud. We are looking to reschedule the Amazon Alexa talk for January.</em></p>
<p class="flow-text">During this session we will aim to build a server-less RESTful API based upon Amazon's AWS cloud technologies.</p>
<p class="flow-text">This is intended as a high-level hands-on session, where you can get exposure to a wide number of intersecting technologies, giving us the opportunity to do a deep dive on each individual component in future sessions.</p>
<p class="flow-text">In this session we will use: Node JS, Lambda, API Gateway, IAM Security &amp; Document DB.</p>
<p class="flow-text">These will be included into a Blue Peter style "here's one I made earlier" React Website to show off the capabilities.</p>
<p class="flow-text">If you are planning on joining in then please<span> </span><a href="https://portal.aws.amazon.com/billing/signup">register for an Amazon AWS account</a>BEFORE the event. Amazon offer a 12 month free tier which will cover your needs, but you will need to supply payment details.</p>]]></meetingContent>
        <startDateTime>2017-11-14T18:30:00</startDateTime>
        <endDateTime>2017-11-14T21:00:00</endDateTime>
        <speaker><![CDATA[umb://document/da37bfc234f34ac1bd77d4394f353f18]]></speaker>
      </event>
    </eventList>
    <speakerList id="1074" key="c46f9aeb-407e-4f70-a9a6-5f82aa1ea581" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2018-01-19T23:40:39" updateDate="2018-01-19T23:40:39" nodeName="Speakers" urlName="speakers" path="-1,1064,1074" isDoc="" nodeType="1071" creatorName="setup@codeshare.co.uk" writerName="setup@codeshare.co.uk" writerID="0" template="0" nodeTypeAlias="speakerList" isPublished="true">
      <speaker id="1080" key="da37bfc2-34f3-4ac1-bd77-d4394f353f18" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2018-01-19T23:48:33" updateDate="2018-01-19T23:48:33" nodeName="Chris Kemp" urlName="chris-kemp" path="-1,1064,1074,1080" isDoc="" nodeType="1066" creatorName="setup@codeshare.co.uk" writerName="setup@codeshare.co.uk" writerID="0" template="0" nodeTypeAlias="speaker" isPublished="true">
        <image><![CDATA[umb://media/362d7eff40f4456ebe5e4372cb65fcea]]></image>
        <bio><![CDATA[Chris is one of the Organisers at NottsJS with many years of experience in IT across a large number of sectors. He currently works as a Software Contractor developing software for Fire & Rescue Services.]]></bio>
        <socialLinks><![CDATA[[
  {
    "caption": "github",
    "link": "https://github.com/nomad3k",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "github"
  },
  {
    "caption": "twitter",
    "link": "https://twitter.com/chriskemp3000",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "twitter"
  }
]]]></socialLinks>
      </speaker>
    </speakerList>
  </home>
</root>