<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT homeControls ANY>
<!ATTLIST homeControls id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="7749df6e-cd6f-4ab7-917c-2de0b30963d2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-18T14:00:37" updateDate="2018-01-18T14:13:14" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1060" creatorName="setup@codeshare.co.uk" writerName="setup@codeshare.co.uk" writerID="0" template="0" nodeTypeAlias="home" isPublished="true">
    <logo><![CDATA[umb://media/8990dd19cfb746e0bea4baec5df20d01]]></logo>
  </home>
</root>